/* ResponseCard.module.css */

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: fit-content;
    background-color: #f6f6f6;
    min-height: 320px;
}

.title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 7px;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    padding: 6px 3px;
    flex-direction: column;
    min-width: 260px;
    background-color: #e9e9e9;
}

.infoItem:not(.lastItem) {
    border-bottom: 1px solid white;
}

.label {
    font-weight: 600;
    margin-right: 10px;
}

.value {
    color: #333;
    font-weight: 400;
}
